@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
margin:0;padding:0;border:0;font-family:inherit;font-style:inherit;font-variant:inherit;font-weight:inherit;vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,img,menu,nav,section,textarea{
display:block;position:relative
}
body{
line-height:1
}
ol,ul{
list-style:none
}
blockquote,q{
quotes:none
}
blockquote:after,blockquote:before,q:after,q:before{
content:"";content:none
}
table{
border-collapse:collapse;border-spacing:0
}
body,html{
width:100%;height:100%
}
a{
text-decoration:none;cursor:pointer;color:inherit
}
div,ol,ul{
position:relative
}
html{
-webkit-box-sizing:border-box;box-sizing:border-box
}
*,:after,:before{
-webkit-box-sizing:inherit;box-sizing:inherit
}
#content{
width:100%;min-height:100vh;position:relative;font-family:Open Sans,sans-serif;font-size:13px;line-height:17px;padding-bottom:20px
}
#wrapper-content{
width:100%;max-width:1170px;padding-bottom:30px;background-color:#fff
}
.container{
width:100%;min-height:10px;padding:0 15px
}
h2.slashed{
display:block;padding-left:20px;position:relative;font-size:19px;font-weight:700;text-transform:uppercase;color:#ec7263;margin:20px 0 10px
}
h2.slashed:before{
content:"//";position:absolute;left:0
}
h3{
font-size:16px;font-weight:700;margin-bottom:5px
}
.flags{
height:0;max-width:1170px;margin:auto;top:0;right:0;z-index:5
}
.flags .flag{
float:right;margin-left:5px
}
.flags .flag img{
width:30px
}
.grid{
-webkit-box-sizing:content-box;box-sizing:content-box;clear:both;min-height:1px
}
.grid:after{
content:" ";display:block;height:0;clear:both
}
.grid.space-0{
margin-left:0;margin-right:0
}
.grid.space-0>div[class^=grid-]{
padding:0
}
.grid.space-1{
margin-left:-1px;margin-right:-1px
}
.grid.space-1>div[class^=grid-]{
padding:0 1px
}
.grid.space-5{
margin-left:-5px;margin-right:-5px
}
.grid.space-5>div[class^=grid-]{
padding:0 5px
}
.grid.space-10{
margin-left:-10px;margin-right:-10px
}
.grid.space-10>div[class^=grid-]{
padding:0 10px
}
.grid.space-15{
margin-left:-15px;margin-right:-15px
}
.grid.space-15>div[class^=grid-]{
padding:0 15px
}
.grid.space-20{
margin-left:-20px;margin-right:-20px
}
.grid.space-20>div[class^=grid-]{
padding:0 20px
}
.grid.space-25{
margin-left:-25px;margin-right:-25px
}
.grid.space-25>div[class^=grid-]{
padding:0 25px
}
.grid.space-30{
margin-left:-30px;margin-right:-30px
}
.grid.space-30>div[class^=grid-]{
padding:0 30px
}
.grid.space-35{
margin-left:-35px;margin-right:-35px
}
.grid.space-35>div[class^=grid-]{
padding:0 35px
}
.grid.space-40{
margin-left:-40px;margin-right:-40px
}
.grid.space-40>div[class^=grid-]{
padding:0 40px
}
.grid.space-45{
margin-left:-45px;margin-right:-45px
}
.grid.space-45>div[class^=grid-]{
padding:0 45px
}
.grid.space-50{
margin-left:-50px;margin-right:-50px
}
.grid.space-50>div[class^=grid-]{
padding:0 50px
}
.grid.vspace-0,.grid.vspace-0 div[class^=grid-]{
margin-bottom:0
}
.grid.vspace-1,.grid.vspace-1 div[class^=grid-]{
margin-bottom:1px
}
.grid.vspace-5,.grid.vspace-5 div[class^=grid-]{
margin-bottom:5px
}
.grid.vspace-10,.grid.vspace-10 div[class^=grid-]{
margin-bottom:10px
}
.grid.vspace-15,.grid.vspace-15 div[class^=grid-]{
margin-bottom:15px
}
.grid.vspace-20,.grid.vspace-20 div[class^=grid-]{
margin-bottom:20px
}
.grid.vspace-25,.grid.vspace-25 div[class^=grid-]{
margin-bottom:25px
}
.grid.vspace-30,.grid.vspace-30 div[class^=grid-]{
margin-bottom:30px
}
.grid.vspace-35,.grid.vspace-35 div[class^=grid-]{
margin-bottom:35px
}
.grid.vspace-40,.grid.vspace-40 div[class^=grid-]{
margin-bottom:40px
}
.grid.vspace-45,.grid.vspace-45 div[class^=grid-]{
margin-bottom:45px
}
.grid.vspace-50,.grid.vspace-50 div[class^=grid-]{
margin-bottom:50px
}
.grid.vspace-55,.grid.vspace-55 div[class^=grid-]{
margin-bottom:55px
}
.grid.vspace-60,.grid.vspace-60 div[class^=grid-]{
margin-bottom:60px
}
.grid div[class^=grid-]{
-webkit-box-sizing:border-box;box-sizing:border-box;min-height:1px;float:left;position:relative;display:block
}
.grid .grid-12{
width:100%
}
.grid .grid-8{
width:66.666666%
}
.grid .grid-7{
width:58.333333%
}
.grid .grid-6{
width:50%
}
.grid .grid-5{
width:41.666666%
}
.grid .grid-4{
width:33.333333%
}
.grid .grid-3{
width:25%
}
.grid .grid-2{
width:16.666666%
}
.grid .grid-1{
width:8.333333%
}
.grid .grid-9{
width:75%
}
.grid .grid-51{
width:20%
}
.grid .grid-52{
width:40%
}
.grid .grid-53{
width:60%
}
.grid .grid-54{
width:80%
}
@media (max-width:768px){
.grid.break-lg div[class^=grid-]{
width:100%
}

}
@media (max-width:800px){
.grid.break-md div[class^=grid-]{
width:100%
}

}
@media (max-width:479px){
.grid.break-sm div[class^=grid-]{
width:100%
}

}
.form-builder .form-builder-label{
margin-bottom:5px;display:block
}
.form-builder .form-builder-error-text{
padding-top:5px;color:#bb6b69
}
.form-builder button,.form-builder input,.form-builder select{
width:100%;border-radius:3px;border:1px solid #ccc;padding:9px;font-size:14px
}
.form-builder button:focus,.form-builder input:focus,.form-builder select:focus{
outline:none
}
.form-builder select{
-webkit-box-shadow:none;box-shadow:none;background:transparent;background-image:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;padding-right:30px;border-radius:3px;border:1px solid #ccc
}
.form-builder .select:before{
position:absolute;content:" ";display:block;height:100%;width:1px;background-color:#ccc;right:30px
}
.form-builder .select:after{
position:absolute;top:11px;right:11px;content:" ";display:block;border:4px solid transparent;border-top:4px solid #ccc;border-right:4px solid #ccc;-webkit-transform:rotate(135deg);transform:rotate(135deg);-webkit-transition:all .25s;transition:all .25s
}
.form-builder .select:hover:after{
border-top:4px solid #000;border-right:4px solid #000
}
.form-builder button{
width:auto;background-color:#fff;padding-left:24px;padding-right:24px
}
.form-builder button:hover{
-webkit-transition:all .25s;transition:all .25s;-webkit-box-shadow:0 0 5px rgba(0,0,0,.25);box-shadow:0 0 5px rgba(0,0,0,.25)
}
.form-builder button:active{
-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.25);box-shadow:inset 0 0 5px rgba(0,0,0,.25)
}
.form-builder .form-builder-error input,.form-builder .form-builder-error select{
border-color:#bb6b69
}
.form-builder .radio-label{
padding:7px 0 7px 30px;width:100%;height:30px;display:block;position:relative
}
.form-builder .radio-label .form-builder-radio{
position:absolute;left:0;top:4px
}
.mce-content-body,.wysiwyg{
font-family:Open Sans,sans-serif;color:inherit;font-size:15px;line-height:140%
}
.mce-content-body p,.wysiwyg p{
font-family:Open Sans,sans-serif;color:inherit;font-size:13px;line-height:19px;margin:0 0 10px
}
.mce-content-body a,.wysiwyg a{
color:inherit;text-decoration:underline;cursor:pointer
}
.mce-content-body a:active,.mce-content-body a:visited,.wysiwyg a:active,.wysiwyg a:visited{
color:inherit
}
.mce-content-body b,.mce-content-body strong,.wysiwyg b,.wysiwyg strong{
font-weight:700
}
.mce-content-body em,.mce-content-body i,.wysiwyg em,.wysiwyg i{
font-style:italic
}
.mce-content-body ul,.wysiwyg ul{
list-style-type:disc;margin-bottom:10px;padding-left:17px
}
.mce-content-body ol,.wysiwyg ol{
list-style-type:decimal;margin-bottom:10px;padding-left:17px
}
.mce-content-body li,.wysiwyg li{
padding-left:10px
}
.mce-content-body img,.wysiwyg img{
border:none;max-width:100%!important;height:auto;margin:10px
}
.mce-content-body img.full,.wysiwyg img.full{
width:100%;margin:10px auto
}
.mce-content-body img.left,.wysiwyg img.left{
margin:5px 10px 5px 0;float:left
}
.mce-content-body img.right,.wysiwyg img.right{
margin:5px 0 5px 10px;float:right
}
.mce-content-body .iframe,.wysiwyg .iframe{
position:relative;margin-bottom:10px
}
.mce-content-body .iframe:before,.wysiwyg .iframe:before{
content:"";display:block;padding-bottom:56.25%
}
.mce-content-body .iframe .mce-object-iframe,.mce-content-body .iframe>iframe,.wysiwyg .iframe .mce-object-iframe,.wysiwyg .iframe>iframe{
position:absolute;width:100%;border:none;display:block;height:100%;top:0
}
.mce-content-body .iframe .mce-object-iframe iframe,.mce-content-body .iframe>iframe iframe,.wysiwyg .iframe .mce-object-iframe iframe,.wysiwyg .iframe>iframe iframe{
width:100%;height:100%
}
.mce-content-body{
padding:10px
}
#content.skill{
background-color:#ededed;padding-top:90px
}
#content.skill #wrapper-content{
margin:0 auto;padding-top:90px
}
#content.skill .portrait{
position:absolute;width:162px;height:162px;left:50%;top:-81px;border:6px solid #ededed;border-radius:81px;margin-left:-81px;overflow:hidden;z-index:2
}
#content.skill .portrait img{
width:100%;height:100%;border:none
}
#content.skill h1{
display:block;text-align:center;font-size:25px;font-weight:700;letter-spacing:-1px;text-transform:uppercase;color:#363636;line-height:35px;margin-bottom:12px
}
#content.skill h1 .fat{
font-size:35px;font-weight:800
}
#content.skill h1 .name{
color:#f0563d
}
#content.skill h1 .alt{
top:-5px;opacity:.5;font-size:75%;line-height:0;position:relative;vertical-align:baseline
}
#content.skill .divider{
width:100%;height:3px;border-top:1px solid #eee;border-bottom:1px solid #eee
}
#content.language{
height:100vh;background-color:#ededed;padding-top:90px;margin-bottom:0
}
#content.language #wrapper-content{
margin:0 auto;padding-bottom:0
}
#content.language .flag{
display:block;text-align:center;padding:20px
}
#content.language .flag img{
margin:auto;width:200px;max-width:100%
}
.contact .contact-item:last-child .icon{
border-bottom:none
}
.contact .icon{
float:left;color:#d9d9d9;font-size:20px;line-height:47px;text-align:center;height:47px;width:47px;border-right:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9
}
.contact .description{
padding-left:11px;height:48px;width:calc(100% - 70px);display:table-cell;vertical-align:middle;overflow:hidden
}
.contact .description h3{
margin-bottom:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis
}
@media (max-width:479px){
.contact .description h3{
font-size:14px
}

}
.contact .description p{
font-size:12px;opacity:.7
}
.education{
position:relative;margin-bottom:30px
}
.education h2.slashed{
margin-bottom:20px
}
.education .startline{
position:absolute;top:28px;left:40px;width:5px;height:10px;background:#ec7263;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ec7263));background:linear-gradient(180deg,#fff 0,#ec7263)
}
.education .education-item{
position:relative;padding-left:66px;margin-bottom:10px
}
.education .education-item:last-child .timeline .line{
background:#ec7263;background:-webkit-gradient(linear,left top,left bottom,from(#ec7263),to(#fff));background:linear-gradient(180deg,#ec7263 0,#fff)
}
.education .timeline{
position:absolute;width:66px;font-size:15px;font-weight:700;text-align:center;top:10px;left:0;bottom:0;height:100%;padding-right:10px
}
.education .timeline .line{
position:absolute;top:27px;left:25px;background-color:#ec7263;width:5px;height:calc(100% - 27px)
}
.education .description{
padding:10px;background-color:#eee;position:relative
}
.education .description:after{
content:" ";border:5px solid #eee;-webkit-transform:rotate(45deg);transform:rotate(45deg);position:absolute;left:-6px;top:12px;z-index:1
}
.experience .experience-item{
clear:both;position:relative;margin-bottom:20px
}
.experience .company{
position:absolute;top:0;bottom:0;left:0;width:32%;height:100%
}
.experience .company span{
display:block;font-size:15px;font-weight:700;margin-bottom:5px;overflow:hidden
}
.experience .description{
padding-left:33%;font-size:12px
}
.hobby .hobby-item{
display:inline-block;padding:5px;background-color:#a75265;color:#fff;margin-right:5px;margin-bottom:7px
}
.language{
margin-bottom:30px
}
.language h2.slashed{
margin-bottom:0
}
.language .language-item{
position:relative;height:39px;padding:10px 0;border-bottom:1px solid #d9d9d9
}
.language .language-item .stars{
float:right;color:#7f7f7f;font-size:16px
}
.language .language-item .stars i{
margin-left:10px
}
.language .language-item .stars .active{
color:red
}
.skills{
margin-bottom:60px
}
.skills .skill-item{
background-color:#f0563d;padding:7px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-webkit-transition:width 2s ease;transition:width 2s ease;margin-bottom:5px;font-weight:700;color:#fff;width:0
}
.skills .legend{
background-color:#d1d1d1;height:3px;width:100%;position:relative;overflow:visible;margin-top:20px
}
.skills .legend .indicator{
background-color:#d1d1d1;width:3px;height:10px;position:absolute;top:0;z-index:2
}
.skills .legend .indicator.beginner{
left:0
}
.skills .legend .indicator.proficient{
left:25%
}
.skills .legend .indicator.expert{
right:25%
}
.skills .legend .indicator.master{
right:0
}
.skills .legend .label{
color:#d1d1d1;position:absolute;top:20px;font-size:12px
}
.skills .legend .label.beginner{
left:0
}
.skills .legend .label.proficient{
left:25%;width:100px;margin-left:-50px;text-align:center
}
@media (max-width:479px){
.skills .legend .label.proficient{
margin-left:0;text-align:left
}

}
.skills .legend .label.expert{
right:25%;width:100px;margin-right:-50px;text-align:center
}
@media (max-width:479px){
.skills .legend .label.expert{
margin-right:0;text-align:right
}

}
.skills .legend .label.master{
right:0
}
